.preview-cards-grid {
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  max-width: 380px;
  overflow: hidden;
  width: 100%;
}

.preview-card {
  padding: 46px;
  font-size: var(--base-fs);
}

.preview-card.is-orange {
  background-color: var(--bright-orange);
  color: var(--bright-orange);
}

.preview-card.is-cyan {
  background-color: var(--dark-cyan);
  color: var(--dark-cyan);
}

.preview-card.is-dark-cyan {
  background-color: var(--very-dark-cyan);
  color: var(--very-dark-cyan);
}

.preview-card-title {
  font-family: var(--font-big);
  font-size: 2.5em;
  text-transform: uppercase;
  color: var(--light-gray);
}

.preview-card-icon {
  margin-bottom: 40px;
}

.preview-card-caption {
  margin: 40px 0 28px;
  font-family: var(--font-lexend);
  color: var(--white-alpha);
  line-height: 1.5;
  font-size: 0.9em;
}

.learn-more-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-family: var(--font-lexend);
  padding: 16px;
  background-color: var(--light-gray);
  border-radius: 25px;
  min-width: 142px;
  border: 2px solid transparent;
  color: currentColor;
}

.learn-more-btn:hover {
  background-color: transparent;
  border-color: var(--light-gray);
  color: var(--light-gray);
}

@media screen and (min-width: 1024px) {
  .preview-cards-grid {
    flex-direction: row;
    max-width: 920px;
  }

  .preview-card-caption {
    margin: 40px 0 86px;
    font-size: .95em;
  }
}
